<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body style="height: 1395px; width: 100%; background-image: url('https://storage.gestioneambiente.net/resources/print/mod_f24_smp.jpg');background-repeat:no-repeat;background-size:cover;">
    <!--COD. FIS.-->
    <table class="cf-table">
        <tr>
            <td class="cf-table-td">{0}</td>
            <td class="cf-table-td">{1}</td>
            <td class="cf-table-td">{2}</td>
            <td class="cf-table-td">{3}</td>
            <td class="cf-table-td">{4}</td>
            <td class="cf-table-td">{5}</td>
            <td class="cf-table-td">{6}</td>
            <td class="cf-table-td">{7}</td>
            <td class="cf-table-td">{8}</td>
            <td class="cf-table-td">{9}</td>
            <td class="cf-table-td">{10}</td>
            <td class="cf-table-td">{11}</td>
            <td class="cf-table-td">{12}</td>
            <td class="cf-table-td">{13}</td>
            <td class="cf-table-td">{14}</td>
            <td class="cf-table-td">{15}</td>
        </tr>
    </table>

    <!--END COD. FIS.-->
    <!--RAGSO-->
    <div style="position:absolute;top:175px;left:186px">{16} {17}</div>
    <!--END RAGSO-->

    <table class="pag-table">
        {18}
    </table>
    <div class="pag-total">{19}</div>
    <!--UT COPY-->
    <table class="cf-table-2">
        <tr>
            <td class="cf-table-td">{0}</td>
            <td class="cf-table-td">{1}</td>
            <td class="cf-table-td">{2}</td>
            <td class="cf-table-td">{3}</td>
            <td class="cf-table-td">{4}</td>
            <td class="cf-table-td">{5}</td>
            <td class="cf-table-td">{6}</td>
            <td class="cf-table-td">{7}</td>
            <td class="cf-table-td">{8}</td>
            <td class="cf-table-td">{9}</td>
            <td class="cf-table-td">{10}</td>
            <td class="cf-table-td">{11}</td>
            <td class="cf-table-td">{12}</td>
            <td class="cf-table-td">{13}</td>
            <td class="cf-table-td">{14}</td>
            <td class="cf-table-td">{15}</td>
        </tr>
    </table>

    <div style="position:absolute;top:882px;left:186px">{16} {17}</div>

    <table class="pag-table-2">
        {18}
    </table>
    <div class="pag-total-2">{19}</div>
</body>
</html>
