<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>
<body style="height:100%">
    <div class='header'>
        <div class='header-logo'>
            <img class='header-logo-img' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_ga.png' />
        </div>
        <div class='header-title'>
            <b>
                {0}
            </b>
        </div>
        <div class='header-title-2'>
            <canvas id="barcode" class="barcode"></canvas>
        </div>
    </div>
    <div class="header-box">
        <div class="box-row bb">
            <div class="box-row-col">
                Richiedente
            </div>
            <div class="box-row-col">
                <b>{5}</b>
            </div>
            <div class="vl"></div>
            <div class="box-row-col">
                P.Iva/Cod. Fiscale
            </div>
            <div class="box-row-col">
                <b>{6}</b>
            </div>
        </div>
        <div class="box-row bb">
            <div class="box-row-col">
                Comune
            </div>
            <div class="box-row-col">
                <b>{7}</b>
            </div>
            <div class="vl"></div>
            <div class="box-row-col">
                Indirizzo
            </div>
            <div class="box-row-col">
                <b>{8}</b>
            </div>
        </div>
        <div class="box-row">
            <div class="box-row-col">
                Codice Partita
            </div>
            <div class="box-row-col">
                <b>{9}</b>
            </div>
            <div class="vl"></div>
            <div class="box-row-col">
                Recapiti
            </div>
            <div class="box-row-col">
                <b>{10}</b>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-row bb">
            <div class="box-row-col">
                Codice Utente
            </div>
            <div class="box-row-col">
                <b>{1}</b>
            </div>
            <div class="vl"></div>
            <div class="box-row-col">
                Codice Contratto
            </div>
            <div class="box-row-col">
                <b>{2}</b>
            </div>
        </div>
        <div class="box-row">
            <div class="box-row-col">
                Area
            </div>
            <div class="box-row-col">
                <b>{3}</b>
            </div>
            <div class="vl"></div>
            <div class="box-row-col">
                Data Programmazione
            </div>
            <div class="box-row-col">
                <b>{4}</b>
            </div>
        </div>
    </div>
    <div class="box text-center">
        <div class="box-full bb">
            <b>Dispositivi</b>
        </div>
        {12}
    </div>
    <div class="container" style="page-break-after:always !important;">
        <div class="section">
            Installazione e fornitura serrature per contenitori da 120/240 lt - € 14,754 €/cad - iva 22% - Costo € 18,00<br />
            Installazione e fornitura serrature per contenitori da 1100 lt - € 14,754 €/cad - iva 22% - Costo € 25,00
        </div>
        <div class="section" style="margin-top:20px;">
            CONDIZIONI DI PAGAMENTO: CONTANTE IMMEDIATO/POS/BONIFICO BANCARIO IBAN: IT77A0503448050000000011154<br />
            TIPO DI SERVIZIO: <b>INSTALLAZIONE E FORNITURA SERRATURE AI CONTENITORI DEDICATI E CONSEGNA DI NUMERO 2
            CHIAVI</b>
        </div>
    </div>

    <div class="condition" style="page-break-before:always">
        <div class="section">
            <b>CONDIZIONI DEL CONTRATTO DI INSTALLAZIONE E DI FORNITURA DI SERRATURE</b>
        </div>
        <div class="section">
            <b>Premesso che</b><br />
            la società Gestione Ambiente S.p.A., PI/CF 01492290067 con sede legale in Tortona (AL), Ex S.S. 35 dei Giovi, n. 42, risulta affidataria del servizio pubblico di raccolta
            e trasporto dei rifiuti urbani e assimilati e riscossione della tariffa relativa al servizio integrato nei 33 Comuni facenti parte dell'Area Omogenea n. 2 del Bacino
            territoriale Novese e Tortonese.
        </div>
        <div class="section">
            <b>Condizioni generali</b> <br />
            <ul>
                <li>
                    Le presenti Condizioni Generali disciplinano i contratti di installazione e di fornitura di serrature al contenitore
                    dedicato.
                </li>
                <li>
                    GESTIONE AMBIENTE S.p.a. garantisce il perfetto funzionamento dei componenti da lei installati.
                </li>

            </ul>
            <b>Condizioni tecniche del servizio</b><br />
            <ul>
                <li>
                    Gestione Ambiente S.p.a. esegue i lavori oggetto del contratto a regola d’arte e conformemente alla disciplina di
                    riferimento vigente al momento della stipulazione del contratto stesso.
                </li>
                <li>
                    Il cliente si impegna a verificare immediatamente che il lavoro sia conforme a quanto specificato nel contratto,
                    manlevando Gestione Ambiente S.p.a. da qualsiasi responsabilità conseguente al non funzionamento successivo.
                </li>
                <li>
                    Si precisa che all’atto dell’installazione dovrà essere presente il firmatario del presente contratto o un suo
                    delegato per prendere atto del regolare funzionamento della serratura e per prendere in carico le chiavi.
                </li>
                <li>
                    L’installazione della serratura e la fornitura di numero 2 chiavi, verranno effettuate su chiamata entro e non oltre 10 giorni l
                    avorativi (da lunedì a venerdì) dopo Vostra segnalazione telefonica al numero verde 800.085.312 o tramite mail a info@gest
                    ioneambiente.net o fax allo 0143/746829.
                </li>
                <li>
                    L’Impresa non risponde dei difetti dovuti al normale logorio o provocati da uso improprio delle serrature e delle
                    attrezzature, nonché degli interventi di qualsivoglia soggetto diverso.
                </li>
                <li>
                    Qualora dovesse rendersi necessaria la riparazione o la sostituzione dei componenti medesimi, il contraente (il firmatario)
                    del presente contratto assumerà a proprio carico ogni costo per la sostituzione dei materiali e la
                    mano d'opera in relazione alla disinstallazione ed alla reinstallazione della serratura e la nuova fornitura di chiavi al
                    costo di 48,00 € iva compresa.
                </li>
            </ul>
            <b>Fatturazione e modalità di pagamento</b><br />
            <ul>
                <li>
                    Tutti i pagamenti dovranno essere regolati al momento della sottoscrizione della presente proposta
                    commerciale;
                </li>
                <li>
                    Nel caso di mancato pagamento, Gestione Ambiente S.p.a., non provvederà all’effettuazione del servizio.
                </li>
                <li>
                    GESTIONE AMBIENTE S.p.a. ha la facoltà per tutto l’arco di durata del presente contratto, di apportare, in
                    conseguenza a particolari variazioni di mercato, a partire dalla data di apposita comunicazione scritta,
                    variazione ai prezzi esposti nella presente offerta.
                </li>
            </ul>
            <b>Accettazione del contratto</b><br />
            <ul>
                <li>Il presente contratto dovrà essere firmato in calce per l’accettazione.</li>
            </ul>
            <b>Foro competente</b><br />
            <ul>
                <li>Per ogni controversia che dovesse sorgere sarà competente il foro di Alessandria.</li>
            </ul>
            <b>Clausole privacy</b><br />
            <ul>
                <li>
                    Gent.le Utente, siamo ad informarLa che:
                    <ul>
                        <li>
                            i dati forniti verranno trattati al solo fine di gestire la consegna dei dispositivi per la raccolta differenziata,
                            sia su supporto cartaceo che magnetico, manualmente e/o con strumenti elettronici o, comunque, automatizzati;
                        </li>
                        <li>il conferimento dei dati è obbligatorio e l'omessa comunicazione dei dati richiesti comporterà l'impossibilità di ricevere i dispositivi;</li>
                        <li>
                            salvo le comunicazioni a soggetti cui la facoltà di accedere ai dati sia riconosciuta da disposizioni di legge o da ordini di Autorità,
                            i dati non verranno comunicati ad alcuno e non saranno trasferiti e trattati in paesi terzi;
                        </li>
                        <li>
                            i dati potranno essere oggetto di trattamento da parte di soggetti qualificati come responsabili od incaricati, nell'ambito della finalità predette;
                        </li>
                        <li>
                            i dati forniti verranno trattati dal Titolare, Gestione Ambiente S.p.A., con sede legale in Tortona (AL), Ex S.S. 35 dei Giovi, n. 42.
                        </li>
                    </ul>
                </li>
            </ul>
            I Suoi dati saranno trattati ai sensi del Reg. UE 2016/679. Informative consultabili nell’area GDPR del sito internet www.gestioneambiente.net, o presso i nostri uffici.

        </div>
    </div>


    <div class="box">
        <div class="box-row">
            <div class="box-row-col-33">
                Luogo e Data
            </div>
            <div class="vl"></div>
            <div class="box-row-col-33">
                Firma Operatore
            </div>
            <div class="vl"></div>
            <div class="box-row-col-33">
                Firma Utente
            </div>
        </div>
    </div>
    <script>
        // Genera il codice a barre utilizzando il valore desiderato
        JsBarcode("#barcode", "{11}");
    </script>
</body>
</html>
