<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5 border-bottom">
            <div class="col mt-3">
                <div class="row">
                    <div class="col-5">PREVENTIVO</div>
                    <div class="col-7 font-weight-bold">#{0}</div>
                </div>
                <div class="row">
                    <div class="col-5">DATA</div>
                    <div class="col-7 font-weight-bold">{1}</div>
                </div>
                <!--<div class="row">
                    <div class="col-5">SCADENZA</div>
                    <div class="col-7 font-weight-bold">{2}</div>
                </div>
                <div class="row">
                    <div class="col-5">TOTALE</div>
                    <div class="col-7 font-weight-bold">{3}</div>
                </div>-->
            </div>
            <div class="col">
                <span class="d-block p-2">Gent.</span>
                <span class="d-block px-2">{13}</span>
                <span class="d-block px-2">{14}</span>
                <span class="d-block px-2">{15}</span>
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="font-weight-bold">OGGETTO: {7}</h6>
        </div>
        <div class="row">
            <p>{8}</p>
        </div>
        <!--<h6 class="font-weight-bold" style="margin-top:2px;">Dati Cliente</h6>-->
        <!--<div class="w-100 border-bottom">
            <div class="row">
                <div class="col-4">RAGIONE SOCIALE</div>
                <div class="col-8 font-weight-bold">{4}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO SEDE LEGALE</div>
                <div class="col-8 font-weight-bold">{5} - {6}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO SPEDIZIONE FATTURA</div>
                <div class="col-8 font-weight-bold">{9}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO SEDE OPERATIVA</div>
                <div class="col-8 font-weight-bold">{10}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE FISCALE/PARTITA IVA</div>
                <div class="col-8 font-weight-bold">{11}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE SDI</div>
                <div class="col-8 font-weight-bold">{12}</div>
            </div>
        </div>-->
        <h6 class="font-weight-bold" style="margin-top:4px;">Dati Cliente Preventivo</h6>
        <div class="w-100 border-bottom">
            <div class="row">
                <div class="col-4">RAGIONE SOCIALE</div>
                <div class="col-8 font-weight-bold">{13}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO</div>
                <div class="col-8 font-weight-bold">{14} - {15}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO OPERATIVO</div>
                <div class="col-8 font-weight-bold">{29}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO SPEDIZIONE FATTURA</div>
                <div class="col-8 font-weight-bold">{9}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE FISCALE</div>
                <div class="col-8 font-weight-bold">{16}</div>
            </div>
            <div class="row">
                <div class="col-4">PARTITA IVA</div>
                <div class="col-8 font-weight-bold">{28}</div>
            </div>
            <div class="row">
                <div class="col-4">SDI</div>
                <div class="col-8 font-weight-bold">{12}</div>
            </div>
        </div>


        <h6 class="font-weight-bold" style="margin-top:4px;">Contatti</h6>
        <div class="w-100 border-bottom pt-2">
            <div class="row">
                <div class="col-4">TELEFONO</div>
                <div class="col-8 font-weight-bold">{17}</div>
            </div>
            <div class="row">
                <div class="col-4">CELLULARE</div>
                <div class="col-8 font-weight-bold">{18}</div>
            </div>
            <div class="row">
                <div class="col-4">EMAIL</div>
                <div class="col-8 font-weight-bold">{19}</div>
            </div>
            <div class="row">
                <div class="col-4">EMAIL PEC</div>
                <div class="col-8 font-weight-bold">{20}</div>
            </div>

        </div>
        <h6 class="font-weight-bold" style="margin-top:4px;">Dati Pagamento</h6>
        <div class="w-100 border-bottom pt-2">
            <div class="row">
                <div class="col-4">VALIDITA' DELL'OFFERTA</div>
                <div class="col-8 font-weight-bold">{21}</div>
            </div>
            <div class="row">
                <div class="col-4">DURATA DEL CONTRATTO</div>
                <div class="col-8 font-weight-bold">{22}</div>
            </div>
            <div class="row">
                <div class="col-4">CONDIZIONI DI PAGAMENTO</div>
                <div class="col-8 font-weight-bold custom-ul">{23}</div>
            </div>
            <div class="row">
                <div class="col-4">IBAN</div>
                <div class="col-8 font-weight-bold">{24}</div>
            </div>

        </div>

    </div>
   

    <div style="page-break-after:always !important"></div>
    <h6 class="font-weight-bold" style="margin-top:4px;">Lista dei servizi</h6>
    {25}
    {26}
    <div style="page-break-after:always !important"></div>
    <h6 class="font-weight-bold" style="margin-top:4px;">Condizioni contrattuali</h6>
    <div style="margin:16px;">{27}</div>

    </div>

</body>
</html>
