.header {
    margin-top: 10px;
    color: #000;
    width: 100%;
    height: 70px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.header-logo {
    display: inline-block;
    width: 24%;
    text-align: center;
    height: 70px;
    border-right: 1px solid #000;
}

.header-logo-img {
    width: 163px;
    height: 50px;
    padding-top: 10px;
}

.header-title {
    width: 55%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    height: 70px;
    vertical-align: top;
    padding-top: 10px;
}

.header-edition {
    width: 18%;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    height: 60px;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    border-left: 1px solid #000;
}

.line-1 {
    color: #000;
    width: 100%;
    height: 40px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-1-col-1 {
    display: inline-block;
    width: 58%;
    height: 30px;
    border-right: 1px solid #000;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px
}

.line-1-col-2 {
    display: inline-block;
    width: 38%;
    height: 30px;
    vertical-align: top;
    padding-top: 10px;
}

.content {
    height: 100%;
    width: 100%;
    /*border: 1px solid #000;*/
    font-family: Arial, Helvetica, sans-seriff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.line-2 {
    width: 100%;
    padding: 10px;
}

.line-3 {
    width: 97%;
    padding: 12px;
    text-align: left;
    margin-bottom: 20px;
}

.line-4 {
    width: 100%;
    margin-bottom: 15px;
}

tr {
    page-break-inside: avoid;
}
