quartz.scheduler.instanceName = GaCloudServer.Jobs

quartz.serializer.type= json

quartz.threadPool.threadCount = 10

quartz.jobStore.misfireThreshold = 60000

org.quartz.scheduler.makeSchedulerThreadDaemon = true

quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.useProperties = true
quartz.jobStore.dataSource = default
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz

quartz.dataSource.default.provider = SqlServer
quartz.dataSource.default.connectionString = Server=.\sqlexpress;Database=GaCloud;Trusted_Connection=True;MultipleActiveResultSets=true
