<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row pt-2">
            <img class="w-75" src='https://storage.gestioneambiente.net/resources/print/logo_ga.png' />
        </div>
        <div class="row mt-5 border-bottom">
            <div class="col mt-3">
                <div class="row">
                    <div class="col-5">SOPRALLUOGO</div>
                    <div class="col-7 font-weight-bold">#{0}</div>
                </div>
                <div class="row">
                    <div class="col-5">DATA PROGRAMMAZIONE</div>
                    <div class="col-7 font-weight-bold">{1}</div>
                </div>
                <div class="row">
                    <div class="col-5">DATA ESECUZIONE</div>
                    <div class="col-7 font-weight-bold">{2}</div>
                </div>
                <div class="row">
                    <div class="col-5">VERIFICA EFFETTUATA DA</div>
                    <div class="col-7 font-weight-bold">{3}</div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="font-weight-bold">OGGETTO: {4}</h6>
        </div>
        <h6 class="font-weight-bold" style="margin-top:2px;">Dati Intestatario</h6>
        <div class="w-100 border-bottom">
            <div class="row">
                <div class="col-4">INTESTATARIO BOLLETTA</div>
                <div class="col-8 font-weight-bold">{5}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE CLIENTE (Se iscritto TARI)</div>
                <div class="col-8 font-weight-bold">{6}</div>
            </div>
            <div class="row">
                <div class="col-4">INDIRIZZO SPEDIZIONE FATTURA</div>
                <div class="col-8 font-weight-bold">{8}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE FISCALE/PARTITA IVA</div>
                <div class="col-8 font-weight-bold">{10}</div>
            </div>
            <div class="row">
                <div class="col-4">CODICE SDI</div>
                <div class="col-8 font-weight-bold">{11}</div>
            </div>
            <h6 class="font-weight-bold" style="margin-top:2px;">Dati Cliente</h6>
            <div class="w-100 border-bottom">
                <div class="row">
                    <div class="col-4">RAGIONE SOCIALE</div>
                    <div class="col-8 font-weight-bold">{14}</div>
                </div>
                <div class="row">
                    <div class="col-4">INDIRIZZO SEDE LEGALE</div>
                    <div class="col-8 font-weight-bold">{17}</div>
                </div>
                <div class="row">
                    <div class="col-4">INDIRIZZO SEDE OPERATIVA</div>
                    <div class="col-8 font-weight-bold">{20}</div>
                </div>
                <div class="row">
                    <div class="col-4">NUMERO TELEFONO FISSO</div>
                    <div class="col-8 font-weight-bold">{13}</div>
                </div>
                <div class="row">
                    <div class="col-4">NUMERO CELLULARE</div>
                    <div class="col-8 font-weight-bold">{12}</div>
                </div>
                <div class="row">
                    <div class="col-4">EMAIL</div>
                    <div class="col-8 font-weight-bold">{18}</div>
                </div>
                <div class="row">
                    <div class="col-4">EMAIL PEC</div>
                    <div class="col-8 font-weight-bold">{19}</div>
                </div>
                <div class="row">
                    <div class="col-4">CODICE FISCALE</div>
                    <div class="col-8 font-weight-bold">{15}</div>
                </div>
                <div class="row">
                    <div class="col-4">PARTITA IVA</div>
                    <div class="col-8 font-weight-bold">{16}</div>
                </div>

                <div style="page-break-after:always !important"></div>
                <h6 class="font-weight-bold" style="margin-top:2px;">Lista dei servizi</h6>

                <div class="w-100 pt-2">
                    <table class="table">
                        <tbody class="border-bottom">
                            <tr style="height:40px">
                                <td colspan="2">PRODUTTORE</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr style="height:40px">
                                <td colspan="2">DESTINATARIO</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr style="height:80px">
                                <td colspan="2">IDENTIFICAZIONE RIFIUTO (ipotetica se previste analisi)</td>
                                <td colspan="6"></td>
                            </tr>

                        </tbody>

                    </table>
                    <table class="table-bordered w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="w-40">Tipo Servizio</th>
                                <th scope="col" class="w-10">Qta.</th>
                                <th scope="col" class="w-25">Analisi</th>
                                <th scope="col" class="w-25">Altro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <div class="w-100 pt-2">
                    <table class="table">
                        <tbody class="border-bottom">
                            <tr style="height:40px">
                                <td colspan="2">PRODUTTORE</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr style="height:40px">
                                <td colspan="2">DESTINATARIO</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr style="height:80px">
                                <td colspan="2">IDENTIFICAZIONE RIFIUTO (ipotetica se previste analisi)</td>
                                <td colspan="6"></td>
                            </tr>

                        </tbody>

                    </table>
                    <table class="table-bordered w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="w-40">Tipo Servizio</th>
                                <th scope="col" class="w-10">Qta.</th>
                                <th scope="col" class="w-25">Analisi</th>
                                <th scope="col" class="w-25">Altro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="height:80px">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>              

            </div>

</body>
</html>
