.header {
    margin-top: 10px;
    color: #000;
    width: 100%;
    height: 85px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.header-logo {
  display: inline-block;
  width: 24%;
  text-align: center;
  height: 85px;
  border-right: 1px solid #000;
}

.header-logo-img {
  width: 163px;
  height: 50px;
  padding-top:20px;
}

.header-title {
  width: 52%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  height: 85px;
  vertical-align: top;
  padding-top:10px;
}

.header-title-2 {
    width: 23%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 75px;
    vertical-align: top;
    padding-top: 10px;
    border-left: 1px solid #000;
}

.line-1 {
    color: #000;
    width: 100%;
    height: 40px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-1-col-1 {
  display: inline-block;
  width: 56%;
  height: 30px;
  
  vertical-align: top;
  padding-top:10px;
  padding-left:10px;
  font-size:22px;
}

.line-1-col-2 {
    display: inline-block;
    border-left: 1px solid #000;
    width: 40%;
    height: 30px;
    vertical-align: top;
    padding-top: 10px;
    padding-left:8px;
    font-size: 22px;
}

.content {
    height: 100%;
    width: 100%;
    /*border: 1px solid #000;*/
    font-family: Arial, Helvetica, sans-seriff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.line-2{
  width:100%;
  padding: 10px;
  font-size:16px;
}

.line-3{
  width:97%;
  padding: 12px;
  text-align:left;
  margin-bottom:20px;
}

.line-4 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.line-5 {
    color: #000;
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-5-col-1 {
    display: inline-block;
    width: 56%;
    
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 26px;
}

.line-5-col-2 {
    border-left: 1px solid #000;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 10px;
    padding-left:8px;
    font-size: 26px;
}

.line-6 {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    
}

.line-6-content {
    width:97%;
    border: 1px solid #000;
    text-align:center;
}

.line-7 {
    color: #000;
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-7-col-1 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 26px;
}

.line-7-col-2 {
    border-left: 1px solid #000;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 8px;
    font-size: 26px;
}