.header {
    margin-top: 10px;
    color: #000;
    width: 100%;
    height: 85px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    border-radius:10px 10px 0px 0px;
}

.header-logo {
  display: inline-block;
  width: 24%;
  text-align: center;
  height: 85px;
  border-right: 1px solid #000;
}

.header-logo-img {
  width: 163px;
  height: 50px;
  padding-top:20px;
}

.header-title {
  width: 52%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  height: 85px;
  vertical-align: top;
  padding-top:10px;
}

.header-title-2 {
    width: 23%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 75px;
    vertical-align: top;
    padding-top: 10px;
}

.line-1 {
    color: #000;
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-1-col-1 {
    display: inline-block;
    width: 56%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
}

.line-1-col-2 {
    border-left: 1px solid #000;
    padding-left: 8px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 10px;
    font-size: 22px;
}

.content {
    height: 100%;
    width: 100%;
    /*border: 1px solid #000;*/
    font-family: Arial, Helvetica, sans-seriff;
    margin-bottom: 10px;
    margin-top: 10px;
    display:flex;
}

.line-2 {
    color: #000;
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    border-radius:0px 0px 10px 10px;
}

.line-2-col-1 {
    display: inline-block;
    width: 56%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
}

.line-2-col-2 {
    border-left: 1px solid #000;
    padding-left: 8px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 10px;
    font-size: 22px;
}

.line-3{
  width:97%;
  padding: 12px;
  text-align:left;
  margin-bottom:20px;
}

.line-4 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.table-user {
    width: 100%;
    background-color: #d4d4d4;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.table-user th {
    text-align:left;
}

.table-device {
    width: 100%;
    padding: 10px;
}

.table-device th {
    text-align: left;
}

.notes {
    color: #000;
    width:100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-top:1px solid #000;
    height:40px;
}

.notes-col-1 {
    display: inline-block;
    width: 56%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.content-item {
    border: solid 1px #000;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    page-break-inside: avoid;
    font-family: Arial, Helvetica, sans-seriff;
}

.page-break {
    page-break-inside: avoid;
    /*page-break-after: always;*/
}


.sign-col-1 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    line-height:40px;
}

.sign-col-2 {
    border-left: 1px solid #000;
    padding-left: 8px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 10px;
    font-size: 18px;
    line-height: 40px;
}

.sign-col-3 {
    display: inline-block;
    width: 99%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

