<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="styles.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="https://api-resources.gestioneambiente.net/localFiles?mode=readfile&path=/assets/images/ec_logo.png">
      </div>
      <div id="company">
        <h2 class="name">Econet S.r.l.</h2>
        <div>Piazza Levi 12 - Acqui Terme</div>
        <div>0143 833522</div>
        <div><a href="mailto:info@econetsrl.eu">info@econetsrl.eu</a></div>
      </div>
    </header>
    <main>
      {0}
      {1}
    </main>
  </body>
</html>