
.header {
    color: #44546a;
    padding-bottom: 35px;
    padding-top: 10px;
    width: 100%;
    height: 30px;
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 20px;
}

.header-logo {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.header-logo-img {
    width: 160px
}


.header-title {
    width: 50%;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    vertical-align: top;
}


.content {
    width: 100%;
    height:100%;
    /*display: inline-block;*/
    color: #44546a;
    font-family: Verdana, Geneva, sans-serif;
    font-size:18px;
}

.content-row {
    width: 100%;
    margin-bottom: 10px;


}


.content-column {
    display: inline-block
}

.content-column-bb {
    display: inline-block;
    border-bottom: solid 1px #44546a;
    vertical-align: bottom
}

.content-column-b {
    display: inline-block;
    border: solid 1px #44546a;
    padding: 5px;
    vertical-align: bottom;
}

.content-column-checkbox {
    display: inline-block;
    width: 20px;
    min-height: 20px !important;
    border: solid 1px #000;
    text-align: center;
}

.content-column-img {
    display: inline-block;
    text-align: center;
}

.content-divider {
    width: 100%;
    border-bottom: solid 2px #4285f4;
    margin-bottom: 10px;
}

table.dispositiviTable {
border: 1px solid #1C6EA4;
background-color: #EEEEEE;
width: 100%;
text-align: left;
border-collapse: collapse;
}

table.dispositiviTable td, table.dispositiviTable th {
border: 1px solid #AAAAAA;
padding: 3px 2px;
}

table.dispositiviTable tbody {
    min-height:500px !important;
}

table.dispositiviTable tbody td {
    font-size: 18px;
    margin:10px;
}

table.dispositiviTable tbody td tr {
    min-height:15px !important;

}

table.dispositiviTable tr:nth-child(even) {
background: #D0E4F5;
}

table.dispositiviTable thead {
background: #A4A4A4;
border-bottom: 2px solid #444444;
}

table.dispositiviTable thead th {
    font-size: 18px;
    margin:10px;
    font-weight: bold;
    color: #000000;
    border-left: 2px solid #D0E4F5;
}

table.dispositiviTable thead th:first-child {
    border-left: none;
}

.footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}