<!DOCTYPE html>
<html style="height:100%;width:100%;padding:0px;">
<head>
</head>
<body>
    <div class='header'>
        <div class='header-logo'>
            <img class='header-logo-img' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_acosgruppo.png' />
        </div>
        <div class='header-title'>MODULO CONSEGNA DISPOSITIVI</div>
    </div>
    <div class='content'>
        <div class='content-row'>
            <div class='content-column' style='width:15%'>Il sottoscritto</div>
            <div class='content-column-bb' style='width:68%'>{1}</div>
            <div class='content-column' style='width:15%'>della società:</div>
        </div>
        <div class='content-row' style='margin-top:20px;'>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_reti.png' style='width:60px;' />
            </div>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' style='width:64px'
                     src='http://dev.gestioneambiente.net/wwwroot/assets/logo_acosi.png' />
            </div>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' style='width:100px' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_acosenergia.png' />
            </div>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' style='width:70px'
                     src='http://dev.gestioneambiente.net/wwwroot/assets/logo_acos.png' />
            </div>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' style='width:102px' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_ga.png' />
            </div>
            <div class='content-column' style='width:16%'>
                <div class='content-column-checkbox'></div>
                <img class='content-column-img' style='width:102px' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_gestioneacqua.png' />
            </div>
        </div>
        <div class='content-row' style='margin-top:20px;margin-bottom:20px;'>
            <div class='content-column' style='width:100%'>
                Richiede ai Sistemi Informativi del Gruppo Acos la consegna dei seguenti dispositivi:
            </div>
        </div>
        <div class='content-row'>
            <table style='width:100%' class='dispositiviTable'>
                <thead>
                    <tr>
                        <th style='width:40%;padding:10px;'>Dispositivo</th>
                        <th style='width:40%;padding:10px;'>Seriale</th>
                        <th style='width:20%;padding:10px;'>Altri Dati</th>
                    </tr>
                </thead>
                <tbody>
                    {3}
                </tbody>
            </table>
        </div>

        <div class="footer">
            <div class='content-row' style="margin-top:15px;line-height:30px;">
                <div class='content-column' style='width:100%'>
                    Note:
                </div>
                <div class='content-column-bb' style='width:100%;vertical-align:bottom;'>
                    {2}
                </div>
            </div>

            <div class='content-row' style='margin-bottom:20px;margin-top:20px;'>
                <div class='content-column' style='width:100%;font-size:14px;font-style:oblique;'>
                    *firmando il presente modulo il dipendente dichiara di aver preso visione dell’informativa relativa l’uso degli apparati e delle linee aziendali;
                    Visionabile nella INTRANET aziendale e richiedibile ai Sistemi Informativi.
                </div>
            </div>
            <div class='content-divider'></div>
            <div class='content-row' style='margin-top:10px;'>
                <div class='content-column' style='width:18%'>Data:</div>
                <div class='content-column' style='width:40%'>Firma del Richiedente:</div>
                <div class='content-column' style='width:40%'>Firma del Responsabile/Operatore IT:</div>
            </div>
            <div class='content-row' style="line-height:40px;">
                <div class='content-column-bb' style='width:18%;'>{0}</div>
                <div class='content-column-bb' style='width:40%'></div>
                <div class='content-column-bb' style='width:40%'></div>
            </div>
        </div>
        
    </div>
    


</body>
</html>