<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="height:100%">
      <div class='header'>
          <div class='header-logo'>
              <img class='header-logo-img' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_ga.png' />
          </div>
          <div class='header-title'>
              <b>
                  Prenotazione Ritiro per Cessazione
              </b>
          </div>
          <div class='header-title-2'>
              <b>

              </b>
          </div>
      </div>
      <div class='line-1'>
          <div class='line-1-col-1'>
              Codice Utente
          </div>
          <div class='line-1-col-2'>
              <b>{0}</b>
          </div>
      </div>
      <div class='line-1'>
          <div class='line-1-col-1'>
              Codice Contratto
          </div>
          <div class='line-1-col-2'>
              <b>{1}</b>
          </div>
      </div>
      <div class='line-1'>
          <div class='line-1-col-1'>
              Area
          </div>
          <div class='line-1-col-2'>
              <b>{2}</b>
          </div>
      </div>
      <div class='line-2'>
          <div class='line-2-col-1'>
              Data Esecuzione
          </div>
          <div class='line-2-col-2'>
              <b>{3}</b>
          </div>
      </div>
      <div class='content'>
          <div style="height:100%">
              {4}
          </div>
      </div>
      <div>
          <div class="content-item">
              <div>
                  <div class='sign-col-1'>
                      Firma Operatore:
                  </div>
              </div>
              <div>
                  <div class='sign-col-1'>
                      Firma Richiedente:
                  </div>
              </div>

          </div>
      </div>

  </body>
</html>
