.header {
    margin-top: 10px;
    color: #000;
    width: 100%;
    height: 115px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.header-logo {
  display: inline-block;
  width: 24%;
  text-align: center;
  height: 115px;
  border-right: 1px solid #000;
}

.header-logo-img {
  width: 163px;
  height: 50px;
  padding-top:30px;
}

.header-title {
  width: 50%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  height: 115px;
  vertical-align: top;
  padding-top:10px;
}

.header-edition {
    width: 24%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    height: 105px;
    vertical-align: top;
    padding-top: 10px;
    border-left: 1px solid #000;
}

.sub-header {
    margin-top: 00px;
    color: #000;
    width: 100%;
    height: 75px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.sub-header-lavoratore {
    width: 50%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 65px;
    vertical-align: top;
    padding-top: 10px;
    border-right: 1px solid #000;
}

.sub-header-data {
    width: 24%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 65px;
    vertical-align: top;
    padding-top: 10px;
}

.sub-header-cantiere {
    width: 24%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 65px;
    vertical-align: top;
    padding-top: 10px;
    border-left: 1px solid #000;
}

.line-1 {
    margin-top: 0px;
    color: #000;
    width: 100%;
    height: 40px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}

.line-1-title {
    width: 74%;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 9px;
    border-right: 1px solid #000;
}

.line-1-scheda {
    width: 24%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    vertical-align: top;
    padding-top: 10px;
    /*border-left: 1px solid #000;*/
}


.content {
    height: 100%;
    width: 100%;
    /*border: 1px solid #000;*/
    font-family: Arial, Helvetica, sans-seriff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-articoli {
    width: 100%;
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 98%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.footer-line-1 {
    width: 98%;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom:1px solid #000;

}

.footer-line-2 {
    width: 30%;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display:inline-block;
}

.footer-line-3 {
    width: 98%;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.footer-line-4 {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid #000;
}

.footer-line-5 {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height:30px;
}

.footer-line-6 {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
}


