<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class='header'>
        <div class='header-logo'>
            <img class='header-logo-img' src='http://dev.gestioneambiente.net/wwwroot/assets/logo_ga.png' />
        </div>
        <div class='header-title'>
            <b>
                REG. CCGA - 01<br />
                Richiesta di Intervento
            </b>
        </div>
        <div class='header-title-2'>
            <b>
                IO.SER. 04<br />
                Edizione 2 del 16/01/2018<br />
                Revisione 1 del 30/01/2020
            </b>
        </div>
    </div>
    <div class='line-1'>
        <div class='line-1-col-1'>
            Richiesta di intervento
        </div>
        <div class='line-1-col-2'>
            <b>N° {0}</b>
        </div>
    </div>
    <div class='line-1'>
        <div class='line-1-col-1'>
            Data
        </div>
        <div class='line-1-col-2'>
            <b>{1}</b>
        </div>
    </div>
    <div class='line-5'>
        <div class='line-5-col-1'>
            Tipo Servizio
        </div>
        <div class='line-5-col-2'>
            <b>{6}</b>
        </div>
    </div>
    <div class='content'>
        <div class="line-6">
            <table style="width:97%">
                <thead>
                    <tr>
                        <th style="border:1px solid #000;text-align:center;">DA ESEGUIRE IL:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px solid #000;text-align:center;"><b>{7}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='line-2'>
            <table style="width:97%;font-size:22px;">
                <tbody>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Comune:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{2}</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Indirizzo:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{3}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="line-2">
            <table style="width:97%;font-size:22px;">
                <tbody>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Utente:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{4}</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Telefono/Mail:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{5}</td>
                    </tr>
                    <!--<tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Data Esecuzione:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{7}</td>
                    </tr>-->
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Addetto segnalazione:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{8}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="line-2">
            <table style="width:97%;font-size:22px;">
                <tbody>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Materiali:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{11}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="line-2">
            <table style="width:97%;font-size:22px;">
                <tbody>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;">
                            Note Call Center:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;">{9}</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000;width:40%; text-align:left;padding-left:5px;height:200px;">
                            Note Operatore:
                        </td>
                        <td style="border:1px solid #000;padding-left:5px;height:200px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>